.tree {
  background-color: #efefef;
  height: 14%;
  /* should be 100% */
  padding: 10px;
  font-family: monospace;
}

ul li {
  list-style-type: none;
}

.tree > ul:first-child {
  padding-left: 0;
}

li {
  padding-top: 16px;
}

ul {
  padding-inline-start: 38.4062px;
}

.fourFixedSpaces {
  display: flex;
  width: min-content;
}

.fourFixedSpaces {
  background-color: green;
}
.newMarkupSpace {
  background-clip: content-box;
  background-color: red;
}
